

    <form class="" action="/api/activities" method="post">

      <div class="add-input">
        <label for="actvity"></label>
        <input type="text" id="activity" name="activity" value="" placeholder="Activity Name">
      </div>

      <div class="add-input">
        <label for="unit"></label>
        <input type="text" id="unit" name="unit" value="" placeholder="Units">
      </div>

      <input type="submit" name="add" value="Add Activity!">

    </form>
