<form class="" action="/login" method="post">
  <fieldset>
    <legend>Login!</legend>

    <div class="signup-input">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="{{user.username}}" placeholder="Enter Username">
    </div>

    <div class="signup-input">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value="" placeholder="Enter Password">
    </div>

    <input type="submit" name="signup" value="Login!">
  </fieldset>
</form>

<a href="/signup">Sign up!</a>
